:root {

    --color-brand: #364FC7;

    --color-gray-1: #212529;
    --color-gray-2: #868E96;
    --color-gray-3: #ADB5BD;
    --color-gray-4: #E9ECEF;
    --color-gray-5: #F1F3F5;
    --color-gray-6: #F8F9FA;

    --color-mode: #FFFFFF;
}